default: &default
  redis_host: 'dhwanit.buyample.com'
  redis_port: '6379'
  redis_namespace: 'RAILS_CACHE'

development:
  <<: *default
  redis_host: 'localhost'
  redis_port: '6379'
  redis_namespace: 'RAILS_CACHE'
  #Action mailer configurations
  action_mailer_host: 'localhost:3000'
  action_mailer_address: 'smtp.gmail.com'
  action_mailer_port: '587'
  action_mailer_domain: 'gmail.com'
  action_mailer_username: 'imlideveloper@gmail.com'
  action_mailer_password: 'brucealmighty'
  #SMS Service configurations
  SMS_SERVICE_USERNAME: 'username'
  SMS_SERVICE_PASSWORD: 'password'
  #MongoDB config
  MONGODB_NAME: 'mongo_imli_backend_development'
  MONGODB_HOST: 'localhost'
  MONGODB_PORT: '27017'
  #Sentry-Raven config
  SENTRY_DSN: 'https://2fbc6a1e28574d66908cc2ba80edfe6b:10f598204ad24ee8a8897f651ecd11a0@app.getsentry.com/53820'

test:
  <<: *default
  redis_host: 'localhost'
  redis_port: '6379'
  redis_namespace: 'RAILS_CACHE'
  #Action mailer configurations
  action_mailer_host: 'localhost:3000'
  action_mailer_address: 'smtp.gmail.com'
  action_mailer_port: '587'
  action_mailer_domain: 'gmail.com'
  action_mailer_username: 'imlideveloper@gmail.com'
  action_mailer_password: 'brucealmighty'
  #SMS Service configurations
  SMS_SERVICE_USERNAME: 'username'
  SMS_SERVICE_PASSWORD: 'password'
  #MongoDB config
  MONGODB_NAME: 'mongo_imli_backend_test'
  MONGODB_HOST: 'localhost'
  MONGODB_PORT: '27017'
  #Sentry-Raven config
  SENTRY_DSN: 'https://2fbc6a1e28574d66908cc2ba80edfe6b:10f598204ad24ee8a8897f651ecd11a0@app.getsentry.com/53820'

production:
  <<: *default
  redis_host: 'dhwanit.buyample.com'
  redis_port: '6379'
  redis_namespace: 'RAILS_CACHE'
  #Action mailer configurations
  action_mailer_host: 'localhost:3000'
  action_mailer_address: 'smtp.gmail.com'
  action_mailer_port: '587'
  action_mailer_domain: 'gmail.com'
  action_mailer_username: 'imlideveloper@gmail.com'
  action_mailer_password: 'brucealmighty'
  #SMS Service configurations
  SMS_SERVICE_USERNAME: 'username'
  SMS_SERVICE_PASSWORD: 'password'
  #MongoDB config
  MONGODB_NAME: 'mongo_imli_backend_production'
  MONGODB_HOST: 'dhwanit.buyample.com'
  MONGODB_PORT: '27017'
  #Sentry-Raven config
  SENTRY_DSN: 'https://2fbc6a1e28574d66908cc2ba80edfe6b:10f598204ad24ee8a8897f651ecd11a0@app.getsentry.com/53820'